header {
  background-color: black;
  /* padding: 10px; */
  display: flex;
  gap: 300px;
}

header img {
  height: 100px;
  object-fit: contain;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: green;
  padding: 10px;
}

header div {
  display: flex;
  flex: 60%;
  align-items: center;
  justify-content: space-between;
}

header button {
  font-weight: bold;
  background-color: green;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  color: white;
  margin-right: 20px;
}

main {
  margin-top: 100px;
}

main .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

form {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

form p {
  font-size: 1.5rem;
}

.email-password,
.connect {
  height: 40px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  color: lightgrey;
  padding: 5px;
}

.connect {
  background-color: gray;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.reset-password {
  text-align: center;
  font-size: 1.2rem;
  color: gray;
}

.reset-password span {
  border-bottom: 2px solid lightgray;
}
